attrs==21.2.0
aws-cdk.assets==1.129.0
aws-cdk.aws-apigateway==1.129.0
aws-cdk.aws-applicationautoscaling==1.129.0
aws-cdk.aws-autoscaling-common==1.129.0
aws-cdk.aws-certificatemanager==1.129.0
aws-cdk.aws-cloudformation==1.129.0
aws-cdk.aws-cloudfront==1.129.0
aws-cdk.aws-cloudfront-origins==1.129.0
aws-cdk.aws-cloudwatch==1.129.0
aws-cdk.aws-codeguruprofiler==1.129.0
aws-cdk.aws-codestarnotifications==1.129.0
aws-cdk.aws-cognito==1.129.0
aws-cdk.aws-dynamodb==1.129.0
aws-cdk.aws-ec2==1.129.0
aws-cdk.aws-ecr==1.129.0
aws-cdk.aws-ecr-assets==1.129.0
aws-cdk.aws-efs==1.129.0
aws-cdk.aws-elasticloadbalancingv2==1.129.0
aws-cdk.aws-events==1.129.0
aws-cdk.aws-iam==1.129.0
aws-cdk.aws-kinesis==1.129.0
aws-cdk.aws-kms==1.129.0
aws-cdk.aws-lambda==1.129.0
aws-cdk.aws-logs==1.129.0
aws-cdk.aws-route53==1.129.0
aws-cdk.aws-s3==1.129.0
aws-cdk.aws-s3-assets==1.129.0
aws-cdk.aws-s3-deployment==1.129.0
aws-cdk.aws-signer==1.129.0
aws-cdk.aws-sns==1.129.0
aws-cdk.aws-sqs==1.129.0
aws-cdk.aws-ssm==1.129.0
aws-cdk.cloud-assembly-schema==1.129.0
aws-cdk.core==1.129.0
aws-cdk.custom-resources==1.129.0
aws-cdk.cx-api==1.129.0
aws-cdk.lambda-layer-awscli==1.129.0
aws-cdk.region-info==1.129.0
boto3==1.19.2
botocore==1.22.2
cattrs==1.8.0
constructs==3.3.161
jmespath==0.10.0
jsii==1.40.0
publication==0.0.3
python-dateutil==2.8.2
s3transfer==0.5.0
-e .
six==1.16.0
typing-extensions==3.10.0.2
urllib3==1.26.7
