attrs==21.2.0
aws-cdk.assets==1.129.0
aws-cdk.aws-apigateway==1.129.0
aws-cdk.aws-applicationautoscaling==1.129.0
aws-cdk.aws-autoscaling-common==1.129.0
aws-cdk.aws-certificatemanager==1.129.0
aws-cdk.aws-cloudformation==1.129.0
aws-cdk.aws-cloudfront==1.129.0
aws-cdk.aws-cloudfront-origins==1.129.0
aws-cdk.aws-cloudwatch==1.129.0
aws-cdk.aws-codeguruprofiler==1.129.0
aws-cdk.aws-codestarnotifications==1.129.0
aws-cdk.aws-cognito==1.129.0
aws-cdk.aws-dynamodb==1.129.0
aws-cdk.aws-ec2==1.129.0
aws-cdk.aws-ecr==1.129.0
aws-cdk.aws-ecr-assets==1.129.0
aws-cdk.aws-efs==1.129.0
aws-cdk.aws-elasticloadbalancingv2==1.129.0
aws-cdk.aws-events==1.129.0
aws-cdk.aws-iam==1.129.0
aws-cdk.aws-kinesis==1.129.0
aws-cdk.aws-kms==1.129.0
aws-cdk.aws-lambda==1.129.0
aws-cdk.aws-lambda-nodejs==1.129.0
aws-cdk.aws-lambda-python==1.129.0
aws-cdk.aws-logs==1.129.0
aws-cdk.aws-logs-destinations==1.129.0
aws-cdk.aws-route53==1.129.0
aws-cdk.aws-s3==1.129.0
aws-cdk.aws-s3-assets==1.129.0
aws-cdk.aws-s3-deployment==1.129.0
aws-cdk.aws-signer==1.129.0
aws-cdk.aws-sns==1.129.0
aws-cdk.aws-sqs==1.129.0
aws-cdk.aws-ssm==1.129.0
aws-cdk.cloud-assembly-schema==1.129.0
aws-cdk.core==1.129.0
aws-cdk.custom-resources==1.129.0
aws-cdk.cx-api==1.129.0
aws-cdk.lambda-layer-awscli==1.129.0
aws-cdk.region-info==1.129.0
boto3==1.19.2
botocore==1.22.2
cattrs==1.8.0
certifi==2021.10.8
charset-normalizer==2.0.7
constructs==3.3.161
datadog==0.41.0
datadog-cdk-constructs==0.4.0
datadog-lambda==3.50.0
ddtrace==0.55.4
decorator==5.1.0
idna==3.3
jmespath==0.10.0
jsii==1.40.0
packaging==21.2
protobuf==3.19.1
publication==0.0.3
pyparsing==2.4.7
python-dateutil==2.8.2
requests==2.26.0
s3transfer==0.5.0
-e .
six==1.16.0
tenacity==8.0.1
typing-extensions==3.10.0.2
urllib3==1.26.7
wrapt==1.13.3
